@model kursovay.DTO.PartnerDto
@using kursovay.DTO

@{
    PartnerDto partnerDto = (PartnerDto)Session["session"];
}

<h2>Личная страница</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Список товаров", "ProductList", "Product", null, null)
</p>
<p>
    @if (partnerDto.Role == RoleTypes.Wholesaler)
    {
        @Html.ActionLink("Управление заказами", "GetAllOrders", "Order")
    }
    else
    {
        @Html.ActionLink("Управление поставками", "OrdersList", "Order", new { userId = partnerDto.Id }, null)
    }
</p>
