@model IEnumerable<kursovay.DTO.ProductDto>

@{
    ViewBag.Title = "ProductList";
    int userId = (int)Session["user"];
}

<h2>ProductList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WarehouseTitle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WarehouseTitle)
        </td>
        <td>
            @Html.RadioButton("Buy", item.Buy)
        </td>
    </tr>
}
</table>
@using (Html.BeginForm(new { userId = userId }))
{
    <input type="submit" value="Make order" />
}
