@model IEnumerable<kursovay.DTO.ProductDto>
@using kursovay.DTO;

@{
    ViewBag.Title = "ProductList";
    PartnerDto currentUser = (PartnerDto)Session["session"];
    string login = Session["login"].ToString();
}

<h2>Каталог товаров</h2>

<table class="table">
    <tr>
        <th>
            @Html.Label("Название")
        </th>
        <th>
            @Html.Label("Цена")
        </th>
        <th>
            @Html.Label("Тип продукции")
        </th>
        <th>
            @Html.Label("Название склада")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
     
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WarehouseTitle)
                </td>
                <td>
                    @using (Html.BeginForm("AddItemInOrder", "Product", new { itemId = item.Id }))
                    {
                        if (currentUser.ItemsId.Contains(item.Id))
                        {
                            <label>Продукт уже добавлен</label>
                        }
                        else
                        {
                            <input type="submit" value="Добавить продукт в корзину" />
                        }
                    }
                </td>
               <td>
                   @if(currentUser.Role == RoleTypes.Wholesaler)
                   {
                       @Html.ActionLink("Убрать продукт со склада", "DeleteProduct", "Product", new { productId = item.Id}, null)
                   }
               </td>
            </tr>
    }
    </table>
<div>
    @using (Html.BeginForm("MakeOrder","Product", FormMethod.Post, new { partnerDto = currentUser}))
    {
        <input type="submit" value="Сделать заказ"/>
    }
</div>
