@model IEnumerable<kursovay.DTO.ProductDto>
@using kursovay.DTO;

@{
    ViewBag.Title = "ProductList";
    PartnerDto currentUser = (PartnerDto)Session["session"];
    string login = Session["login"].ToString();
}

<h2>Каталог товаров</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WarehouseTitle)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
     
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WarehouseTitle)
                </td>
                <td>
                    @using (Html.BeginForm("AddItemInOrder", "Product", new { itemId = item.Id }))
                    {
                        if (currentUser.ItemsId.Contains(item.Id))
                        {
                            <label>Продукт уже добавлен</label>
                        }
                        else
                        {
                            <input type="submit" value="Добавить продукт в заказ" />
                        }
                    }
                </td>
            </tr>
    }
    </table>
<div>
    @using (Html.BeginForm("MakeOrder","Product", FormMethod.Post, new { partnerDto = currentUser}))
    {
        <input type="submit" value="Сделать заказ"/>
    }
</div>
<div>
    @Html.ActionLink("Личная страница", "PrivatePage", "User", new { login = login}, null)
</div>