@model IEnumerable<kursovay.DTO.ProductDto>
@using kursovay.DTO;

@{
    ViewBag.Title = "Продукция";
    PartnerDto currentUser = (PartnerDto)Session["session"];
}

<h2>ProductList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WarehouseTitle)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
     
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WarehouseTitle)
                </td>
                <td>
                    @using (Html.BeginForm("AddItemInOrder", "Product", new { itemId = item.Id }))
                    {
                        if (currentUser.ItemsId.Contains(item.Id))
                        {
                            <label>Item already is in your order</label>
                        }
                        else
                        {
                            <input type="submit" value="Add in order" />
                        }
                    }
                </td>
            </tr>
    }
    </table>
<div>
    @using (Html.BeginForm("MakeOrder","Product", FormMethod.Post, new { partnerDto = currentUser}))
    {
        <input type="submit" value="Make order"/>
    }
</div>